<p>Booking Form</p>

{{contactForm.value | json}}

<form class="example-form" [formGroup]="contactForm" (ngSubmit)="AddContact()">
    <mat-form-field class="example-full-width">
        <mat-label>Contact Name</mat-label>
        <input type="text" matInput formControlName="name" placeholder="Contact Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Country Code</mat-label>
        <mat-select formControlName="countryCode">
            
            <mat-option *ngFor="let country of countryCodes" [value]="country.dial_code">{{country.name}}</mat-option>
            
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Contact Number</mat-label>
        <input type="text" matInput formControlName="contactNumber" placeholder="Contact Number">
        
        <mat-error *ngIf="contactForm.get('contactNumber')?.hasError('pattern')">
            Phone number must be of 10 charcters and all characters must be number.
        </mat-error>
    </mat-form-field>

    <div>
        <button [disabled]="contactForm.invalid" matButton="filled" type="submit">Add Contact</button>
    </div>

</form>