<h2>Leave / WFH Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>Req ID</th>
            <th>Employee</th>
            <th>Type</th>
            <th>From</th>
            <th>To</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let req of allRequests">
            <td>{{ req.reqid }}</td>
            <td>{{ req.username }}</td>
            <td>{{ req.type }}</td>
            <td>{{ req.fromDate }}</td>
            <td>{{ req.toDate }}</td>
            <td>{{ req.reason }}</td>
            <td>
                {{ req.status }}
            </td>
            <td>
                <button *ngIf="req.status === 'Pending'" (click)="updateStatus(req.reqid, 'Approved')">
                    Approve
                </button>

                <button *ngIf="req.status === 'Pending'" (click)="updateStatus(req.reqid, 'Rejected')">
                    Reject
                </button>
            </td>
        </tr>
    </tbody>

</table>