<div class="container">
<div class="searchcontainer">
    <div class="search">
        <h3>Search</h3> 
        <input type="text" [(ngModel)]="searchText" (input)="onSearch()">
    </div>
    <div class="title">
        <h3 *ngIf="!searchText">All Contacts</h3>
        <h3 *ngIf="searchText">Contacts</h3>
        <button class="buttonstyle" (click)="sortToggle()"><i class="material-icons">sort</i></button>
    </div>
    <div class="viewcontacts">
        <div *ngFor = 'let contact of contactList' class="listcontacts">
            <div class="name-number">
                <p class="namestyle">{{contact.name}}</p>
                <p class="numberstyle">{{contact.countryCode}} {{contact.phoneNo}}</p>
            </div>
            <button class="buttonstyle" (click)="delete(contact.id)"><i class="material-icons">delete</i></button>
        </div>
    </div>
</div>
</div>