.searchcontainer{
    background: #F5EFE6;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(105, 101, 91, 0.1);
    margin-top: 80px;
}

.search{
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: baseline;
    padding: 10px;
}

.viewcontacts{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title{
    border-bottom: 1px solid #6D94C5;
}

.listcontacts{
    background-color: #CBDCEB;
    width: 500px;
    margin: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    height: auto;
}

.name-number{
    display: flex;
    flex-direction: column;
}

.namestyle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
}

.numberstyle{
    margin-top: 2px;
}

.buttonstyle{
    background: transparent;
    justify-content: center;
    color: #3f5672;
    margin-left: auto;
    cursor: pointer;
    align-items:center;
    width: auto;
    height: 40px;
    border: 0px;
}