<div class="w-fit flex flex-col">
  <div class="flex justify-center items-center w-fit">
    <div class="text-left font-bold w-38">User Name</div>
    <div>: {{currUser.name}}</div>
  </div>
  <div class="flex justify-center items-center w-fit">
    <div class="text-left font-bold w-38">Employee ID</div>
    <div>: {{currUser.id}}</div>
  </div>
  <div class="flex justify-center items-center w-fit">
    <div class="text-left font-bold w-38">Projects</div>
    <div>: {{currUser.projects}}</div>
  </div>
  <div class="flex justify-center items-center w-fit">
    <div class="text-left font-bold w-38">Current Attendance</div>
    <div>: {{currUser.attendance}}/365</div>
  </div>
  <div class="flex justify-center items-center w-fit">
    <div class="text-left font-bold w-38">Leave Left</div>
    <div>: {{currUser.leavesLeft}}/15</div>
  </div>
  <div class="flex justify-center items-center w-fit">
    <div class="text-left font-bold w-38">WFH left</div>
    <div>: {{currUser.wfhLeft}}/6</div>
  </div>
</div>
