.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    position:fixed;
    height: 40px;
    width:auto;
    align-items: center;
    background-color: #6D94C5;
    width: 100%;
}

ul{
    display: flex;
    list-style: none;
    color: #384c65;
    padding-right: 30px;
}

li{
    padding: 10px;
}